<!--we need to tell this file where we are getting the base template from -->
{% extends 'blog/base.html' %}

<!--we need to say that this is the block content we want to base.html page to load-->
{% block content %}

    {% for post in posts %}
        <article class="post">
            <time class="date">published: {{post.published_date}} </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </article>
    {% endfor %}

{% endblock %}